/* Toasts */
.toast-container {
  box-sizing: border-box;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  padding: rem(10);
  z-index: 9999;
}

.show-toast {
  display: block;
  opacity: 1;
  background-color: $white;
  width: 350px;
  box-shadow: 0 2px 4px 0 $black2, 0 6px 20px 0 $black19;
}

.show-toast .toast-header img {
  opacity: 0.5;
}

.show-toast .progress {
  height: 2px;
}

@keyframes progress-toast {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@-webkit-keyframes progress-toast {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}
